<<h1>Edit Post</h1>
<div class="row">
  <div class="span4">
    <p>Guidelines for new posts:</p>
    <ul>
      <li>Add a title</li>
      <li>Add a message</li>
      <li>Add your name</li>
      <li>Remember to click "Save"</li>
    </ul>
  </div>
  <div class="span8">
   <%= render partial: 'form', locals: {topic: @topics, post: @posts}%>
 </div>
</div>