// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-md-8 {
  margin-top: -150px;
  position:relative;
  margin-left: 14px;
}

.lead {
  position: absolute;
  padding-top:80px;
}


