// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
  color:white;
}

h3 {
  color:white;
}

.control-label {
  color:white;
}

i {
  color: #2A6496;
}

#user_avatar{
  color:white;
}

label {
  color:white
}